body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  width: 280px;
  margin: 25px;
}

h4 {
  text-align: center;
}

ul {
    list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
    }

nav li {
      border: none;
      border-radius: 2px;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
      margin: 5px;
    }


.trio-menu, footer{
  display: flex;
  flex-direction: row;
  padding-left: 85px;
}

.trio-menu a, nav a, .btnDownload a {
  color: #FFFFFF;
  padding: 15px;
  text-decoration: none;
    }

section, .text-top, .top-about {
  display: flex;
  align-items: center;
  background-color: #18BC9C;
  flex-direction: column;
  padding: 50px;
}

.text-top h1 {
  font-size: 35px;
}

section h1, nav a, article {
  display: flex;
  font-weight: 900;
  color: #FFFFFF; 
  margin: -15px;
}

.back {
  background-color: #FFFFFF;
}


.wrap {
  display: flex;
  flex-wrap: wrap;   
}

.wrap img {
  flex-basis: 33%;
  margin: 2px;
  /*Bug - flex-basisnNão funciona no chrome sem definição de altura e largura, no Firefox funciona
  porém, distorce com definição de tamanho, ver com Ju e Rafa */
  width: 33%;
  height: 33%;
}



.portfolio h1, .contato h1 {
  font-size: 25px;
  color: #2C3E50;
}


.portfolio .fa-star, .contato .fa-star {
  color: #2C3E50;
 }

.texto {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scnd a {
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 30px;
  width: 21px;
  padding: 7px;
}

nav, footer {
    background-color: #2C3E50;
    padding: 10px;
}


h1, h2, .fa-download, footer {
    color: #FFFFFF;
}


nav > div:nth-child(1) {
  font-size: 25px;
}


footer * {
  width: 49%;
  display: flex;
  margin: 2px 2px;
}


footer a {
  text-decoration: none;
  color: white;
}

.btnDownload {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 4px;
  padding: 8px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  color: #AFAEB0;
}

form * {
  border-width: 0 0 1px 0;
}

.btnSend button, nav li:hover {
  background-color: #18BC9C; 
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 5px;

}

.btnSend button:hover {
  background-color: rgb(22, 129, 108); 
}

small {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.star {
  display: flex;
  margin: 25px;
}

.star hr {
  width: 85px;
  padding: 2px;
  background-color: white;
  border: 1px solid white;
  margin: 7px;

}

.blue hr {
  width: 85px;
  border: 1px solid #2C3E50;
  background-color: #2C3E50;
  margin: 7px
}

 .fas {
   color: white;
 }








